<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- 允许应用程序访问有关网络的信息 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 允许应用程序访问有关Wi-Fi网络的信息 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 允许应用程序打开网络 -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application>

        <activity
            android:name=".qrcode.QRCodeScanActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>